::-webkit-scrollbar {width:.5rem;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}
#map {height: 75vh;}

.custom-map-control-button{
	margin-top:12px;
	margin-right:10px;
	padding:12px;
	width: 40px;
	height: 40px;
	background-color:#c3d500;
	border-radius: 1px;
	border: none;
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.3);
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-crosshair" viewBox="0 0 16 16"><path d="M8.5.5a.5.5 0 0 0-1 0v.518A7 7 0 0 0 1.018 7.5H.5a.5.5 0 0 0 0 1h.518A7 7 0 0 0 7.5 14.982v.518a.5.5 0 0 0 1 0v-.518A7 7 0 0 0 14.982 8.5h.518a.5.5 0 0 0 0-1h-.518A7 7 0 0 0 8.5 1.018zm-6.48 7A6 6 0 0 1 7.5 2.02v.48a.5.5 0 0 0 1 0v-.48a6 6 0 0 1 5.48 5.48h-.48a.5.5 0 0 0 0 1h.48a6 6 0 0 1-5.48 5.48v-.48a.5.5 0 0 0-1 0v.48A6 6 0 0 1 2.02 8.5h.48a.5.5 0 0 0 0-1zM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
}

.search-container {
    width: 40vw;
    max-width: 360px;
    height: 3rem;
    background-color: #f1f1f1;
    position: relative;
    z-index: 30;
    top: 4rem;
    left:2rem;
    border-radius: 5px;
}
::placeholder {
    color: rgba(0, 0, 0, 0.726);
    font-weight: 100;
	font-size:14px
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}

.search input {
    width: 100%;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #000;
    font-weight: 400;
}

.search input:focus {
    outline: none;
}

/* Stores list */
.stores-list-container {
    opacity: 0.9;
    max-width: 360px;
    background-color: white;
    position: relative;
    z-index: 30;
    top: 1rem;
    left: none;
    border-radius: 5px;
    bottom: 20px;
    max-height: 62vh;
    overflow: hidden;
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.stores-list-container:hover {
    opacity: 1;
}

.stores-list {
    overflow-y: scroll;
    padding-left: 18px;
    padding-right: 18px;
    height: 100%;
	max-height: 62vh;
}

/* Store containers: */

.store-container-background {
    display: flex;
    width: 100%;
    padding: 8px;
    margin: 12px 0;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    -webkit-tap-highlight-color: transparent;
}

.store-container-background:hover {
    background-color: #f1f1f1;
}

.store-container-background:focus,
.store-container-background:active {
    background-color: #f1f1f1;
}

.store-container {
    border-bottom: 1px solid #979797;
    display: flex;
    cursor: pointer;
}

.store-info-container {
    flex-grow: 1;
}

.store-container-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
}

.store-address {
    font-size: 1.5rem;
    color: #514C4C;
    margin-top: 1rem;
}

.store-phone-number {
    display: flex;
    align-items: center;
    color: #B5ADAD;
    margin-top: 1rem;
}

.store-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-address span {
    display: block;
}

.store-number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36364b;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 1.4rem;
}

/* Store Info Window: */
.store-info-window {
    min-width: 300px;
    font-size: 1.1em;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
}

.store-info-name {
    font-size: 1.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 7px;
}

.store-info-address,
.store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .circle,
.store-info-phone .circle {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #514C4C;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}



/* Media queries: */

@media screen and (max-width: 1024px) {

    .title {
        display: flex;
        top: auto;
        font-size: 1.4em;
        line-height: 1em;
        /* margin-bottom: 3em; */
        left: 2em;

        background: linear-gradient(to right, #8e8eaf, #656580);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: #656580;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        background-color: #fff;
    }

    #map {
        height: 55vh;
    }

    /* Stores list */
    .stores-list-container {
        display: block;
        top: 1px;
        left: 0;
        bottom: 0;
        height: 21vh;
        width: 100%;
        max-width: 100vw;
        border-radius: 0px;
		position:relative;
		background-color: #f1f1f1;
		/*border:#ccc 1px solid;*/
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
    }

    .store-number {
        visibility: hidden;
    }

    .search-container {
        display: block;
        height: 5vh;
        width: 100%;
        max-width: 100vw;
        left: 0;
        /*top: 65vh;*/
        background-color: #f1f1f1;
        border-radius: 0px;
		position:static;
		border:#ccc 1px solid;
		margin-bottom: 21vh;
    }
::placeholder {
    color: rgba(0, 0, 0, 0.726);
    font-weight: 100;
	font-size:14px}
    /* .search {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    } */

    .search input {
        width: 100%;
        text-align: left;
        font-size: 1rem;
    }

    /* Store Info Window: */
    .store-info-window {
        display: contents;
        min-width: 200px;
        font-size: 1.1em;
        padding: 8px;
        font-family: 'Open Sans', sans-serif;
    }

    .store-info-name {
        text-align: center;
        font-size: 1.9rem;
        font-weight: bold;
        color: rgba(0, 0, 0, .87);
    }

    .store-info-status {
        text-align: center;
        margin-top: 6px;
        border-bottom: 1px solid #00000029;
        padding-bottom: 7px;
    }

    .store-info-address,
    .store-info-phone {
        margin-top: 8px;
        display: flex;
        align-items: center;
    }

    .store-info-address .circle,
    .store-info-phone .circle {
        width: 30px;
        height: 30px;
        background-color: white;
        color: #514C4C;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 8px;
    }
}